table{
    border-collapse: collapse;
    border-color: #2a3644;
    overflow: hidden;
    margin-bottom: 25px;
}

thead tr{
    background-color: #2a3644;
}

.th1{
    border-bottom: 1px solid #a7a7a7;
}

thead th{
    border-right: 1px solid #a7a7a7;
}

table>tbody>tr {
    background-color: #f2f2f2;
}

table>tbody>tr:hover{
    background-color: rgb(206, 206, 206);
}

.delete{
    background-color: rgb(253, 78, 78);
    margin-bottom: 2px;
    transition: 0.5s;
}

.delete:hover{
    background-color: rgb(228, 0, 0);
}

.add{
    color: #fff;
    background-color: rgb(7, 187, 7);
    transition: 0.5s;
}

.add:hover{
    background-color: rgb(6, 131, 6);
}

td,th{
    padding: 10px 18px;
    font-family: Arial, Helvetica, sans-serif;
}

tr.chergovii>td:last-child{
    background-color: #fff;
    border: none;
    border-left: 1px solid grey;
}   

th{
    color: #fff;
}

td{
    color: #000;
    border-bottom: 1px solid grey;
}

table tr:last-child td{
    border-bottom: none;
}

.curator{
    background-color: #8080806e;
}

.curator:hover{
    background-color: #808080c7;
}

input{
    background-color: rgb(232, 232, 232);
    border: none;
    border: 1px solid grey;
    padding: 10px 18px;
    outline: none;
}

select{
    background-color: #f2f2f2;
    padding: 9px 18px;
    margin-left: -5px;
    border: none;
    border: 1px solid grey;
    margin-right: 5px;
}

.block{
    display: block;
}

input:focus,
select:focus{
    border: 1px solid #000;
}

.none {
    display: none;
}

.showBTN{
    position: relative;
    border: none;
    background-color: transparent;
}

.showBTN:after{
    content: "show";
    position: absolute;
    margin-left: 2px;
}

.edit{
    padding: 0;
    max-width: 55px;
    min-height: 18px;
    font-size: 11px;
}

.send{
    padding: 0;
    max-width: 25px;
    font-size: 12px;
    margin-left: 3px;
}